<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPNETCoreWithVueJs</title>
</head>
<body>
    <h4>Here the layout</h4>
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
